.articlesList {
  align-items: flex-start;
  display: flex;
  flex: 1 0 80%;
  flex-direction: column;
}

.articlesSearch {
  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
}

.articlesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
