@import "../../../../variables";

.contactHoneypot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contactHoneypotForm {
  width: 50px;
}

.contactSubmission {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contactSubmissionButton {
  background-color: $focusColor;
  border-color: $focusColor;
  opacity: 1;
  transition: 0.5s;
}

.contactSubmissionButton:hover {
  background-color: $focusColor;
  border-color: $focusColor;
  opacity: 0.8;
  transition: 0.5s;
}

.contactSubmissionButton:focus {
  background-color: $focusColor;
  border-color: $focusColor;
  opacity: 0.8;
  transition: 0.5s;
}
