@import "../../../variables";

.footer {
  background-color: $fontColor;
  color: $imageFontColor;
  display: flex;
  flex-direction: column;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.footerItem {
  color: $imageFontColor;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  width: 150px;
}

.footerItemLogo {
  display: flex;
  justify-content: center;
}

.footerItemLogoImage {
  height: 30px;
  margin: 0;
}

.footerItemText {
  display: flex;
  justify-content: center;
}

.footerRedirection {
  color: inherit;
  padding: 10px;
  text-decoration: none;
}

.footerRedirection:hover {
  color: inherit;
  text-decoration: underline;
}

.footerRedirections {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.footerSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
