@import "../../../../../animations";
@import "../../../../../variables";

.serviceCard {
  border: solid 1px $focusColor;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
}

.serviceCard:hover i {
  animation: up-and-down-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.serviceCardContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
